    :root {
    --primary: #0A3DCE;
    --primary-dark: #061E5C;
    --primary-light: #3A7CFF;
    --black: #070A14;
    --black-soft: #101828;
    --gray-dark: #1B2338;
    --gray: #7A8BAE;
    --black-rgb: rgb(10, 14, 28);
    --white: #FFFFFF;
    --white-soft: #EAF0FF;
    --border: #24314F;
     --border-nav: #63099e ;
    --background-nav: #b55bf1;
    --radius: 15px;
    --metal-gradient: linear-gradient(180deg, #070A14 0%, #1C2A4A 30%, #111B33 50%, #2A3D6B 70%, #070A14 100%);
    --metal-gradient2: linear-gradient(180deg, #050A0F 0%, #123456 30%, #0A1E32 50%, #1A4B7A 70%, #050A0F 100%);
    --fonte-texto: "Poppins", sans-serif;
    --peso-baixo:300;
    --peso-regular: 400;
    --peso-bold: 700;
    --cor-body: #050A0F;
--cor-botao-cancelar:#990b0bb0;
--cor-botao-enviar:#0d2697;
}


/* Estilo dos Títulos das Seções */
    .titulos-videos {
        background-color: var(--background-nav);
        color: var(--white);
        position: relative;
        z-index: 10;
        padding: 10px 30px;
        font-weight: var(--peso-bold);
        font-size: 22px;
        text-align: center;
        border-radius: var(--radius);
        margin: 60px auto 20px auto; 
        width: fit-content;
        box-shadow: 0px 4px 15px var(--white); 
        text-transform: uppercase;
        letter-spacing: 1px;
    }

  
    .cards {
        display: grid;
        position: relative;
        z-index: 5;
        /* auto-fit faz com que se adapte automaticamente ao ecrã */
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr)); 
        gap: 40px; 
        margin: 20px 50px 60px 50px;
        justify-items: center; 
        animation: movimentaCards 2.1s ease-in infinite alternate-reverse;
    }

    /* Agrupa a mídia e a legenda */
    .card-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        width: 100%;
        max-width: 450px;
    }

    /* Estilo unificado para Imagens e Vídeos (Iframes) */
    .media-box {
        width: 100%;
        aspect-ratio: 16/9; /* Mantém tudo no mesmo formato retangular */
        border-radius: 25px;
        border: 2px solid var(--border-nav);
        box-shadow: 0px 0px 15px var(--background-nav);
        object-fit: cover; /* Evita que as imagens fiquem esticadas ou esmagadas */
        background-color: var(--black-soft);
    }


    .legenda { 
        font-family: var(--fonte-texto);
        background-color: var(--border-nav);
        color: var(--white-soft);
        padding: 8px 20px;
        border-radius: 20px;
        font-size: 14px;
        text-align: center;
        margin: 0;
        border: 1px solid var(--border);
       box-shadow: 0px 0px 15px var(--background-nav);
    }

    @keyframes movimentaCards {
        from { transform: translateX(-5px); }
        to { transform: translateX(5px); }
    }