
@import url("https://fonts.googleapis.com/css2?family=Honk:MORF@15&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Honk:MORF@15&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
    margin: 0;
    padding: 0;
    min-height: 100%;
}

body {
    min-height: 100vh;

    background-image: url("./img/Fundo.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    background-attachment: fixed;
}
   


/* parte principal da navbar */
.Navbar { 
 opacity: 0.9;   
 display: flex;
 justify-content: flex-end;
 align-items: center;
 background-color: #c02ec0;
 padding: 15px 100px;
 list-style: none;
 border-radius: 7px;
 box-shadow: 0px 10px 10px  rgb(19, 9, 17);
}


#nav-list {
 font-size: 24px;
 font-family: 'Honk', system-ui;
}



/* lista da navbar */
#nav-list {

    display: flex;
    gap: 50px;
    margin: 0;
    padding: 0;  
    list-style: none; /* Removido a bola da lista */
}


/* parte do link da navbar */
#nav-list a{
    
    border-radius: 10px;
    background-color: #0a020ca2;
    padding: 5px 5px;
    text-decoration: none; /* Remove a linha do link */
    border-radius: 12px;
    box-shadow: 0 6px 10px rgb(17, 5, 16);
}


/* parte do link da navbar quando o mouse passa por cima */
#nav-list a:hover{
   
    color: #020202;
    border: 12px solid #dd1ea4;
    border-radius: 30px;
    pointer-events: auto;
    transition: 0.4s;
}

/*-------------------------------- Conteúdo da página inicial -------------------------- */


#Titulo-geral{ font-family: 'Honk', system-ui;
    font-size: 80px;
    text-align: center;
    margin-top: 45px;
}

 /* inserir uma linha debaixo do título */
#Titulo-geral {
  text-decoration-line:underline;
  text-decoration-style: dotted;
  text-decoration-color: #a12085; 
   
   text-shadow: 0px 0px 30px rgb(148, 35, 133); /* consigo aplicar efeito de sombra no meu texto*/
   text-underline-offset: 15px; /* consigo dizer qual altura ele fica */
   text-decoration-thickness: 10px;  /* consigo informa o tamanho da linha */ 
}

/* aplicando grid  */

.grid1 {
display: grid;
grid-template-columns: repeat(2, 2fr);
grid-gap: 20px;
padding: 10px 15px;
margin-top: 30px;
margin-bottom: 35px;

}

/* definição do meu card para os textos iniciais */

#home {
 opacity: 0.8;    
 background-color: #9932CC;
 padding: 10px 8px;
 border-radius: 10px;
 color: #1a1c94;
 box-shadow: 0px 10px 15px #130510;
 text-shadow: #3415be;
  border: 2px dotted #08080a27;
}

/*  Definido fonte - texto - tamanho */
#home {
 font-family: 'Poppins', System-ui;
 text-align: center;
 font-size: 18px;
}

/* cor após passar o mouse por cima */

#home :hover {
      
      font-size: 20px;
      text-shadow: 0px 0px 5px #fdfdfd;
      padding: 10px 8px;
      border-radius: 10px;
      color: #000000;
}


#Titulo-secundario {
    font-family: 'Honk', system-ui;
    font-size: 80px;
    text-align: center;
    margin-top: 45px;
}


#Titulo-secundario {
  text-decoration-line:underline;
  text-decoration-style: dotted;
  text-decoration-color: #a12085; 
   
   text-shadow: 0px 0px 30px rgb(148, 35, 133); /* consigo aplicar efeito de sombra no meu texto*/
   text-underline-offset: 15px; /* consigo dizer qual altura ele fica */
   text-decoration-thickness: 10px;  /* consigo informa o tamanho da linha */ 
}
    

.grid2 {
   display: grid;
   grid-template-columns:repeat(3, 1fr);
   gap:30px;
}



.video {
    margin-top: 20px    ;
    display: flex;
    width: 650px;
    max-width: 650px;
    align-items: center;
    margin-left: 100px;
    background-color: #c02b76c5;
    border: 3px solid #95329e88;
    border-radius: 15px;
    padding: 8px;
    box-sizing: border-box;
}

.iframeID {
    width: 650px;
    height: 365px;
    border: none;
    border-radius: 25px;
}


.subtitulo-youtube { 
    
    margin-left: 160px;
    font-family: 'Honk', system-ui;
    text-decoration-line:underline;
    text-decoration-style:solid;
    text-decoration-color: #a12085; 
    font-size: 28px;

    text-shadow: 0px 10px 15px rgb(148, 35, 133); /* consigo aplicar efeito de sombra no meu texto*/
    text-underline-offset: 15px; /* consigo dizer qual altura ele fica */
    text-decoration-thickness: 2px;  /* consigo informa o tamanho da linha */ 
}



#Terceiro-titulo-home { 
  text-decoration-color: #a12085;   
  text-decoration-line:underline;   
  text-underline-offset: 10px; /* consigo dizer qual altura ele fica */
  text-decoration-thickness: 1px;  /* consigo informa o tamanho da linha */ 
 font-size: 35px;
 margin-left: 100px;
 font-family: 'Honk', system-ui;
 text-shadow: 0px 10px 15px rgb(148, 35, 133);
  
 
}



#lista-home {
    
    
    display: flex;
    justify-content: center;
    margin-top: 48px;
    margin-right: 45px;
    gap: 41px;
    color: #f9f9ff;   
    border-radius: 5px;
    text-shadow: 0px 10px 10px #181117;
    
}


#lista-home {
   
    font-family: 'Poppins', System-ui;
    font-size: 20px;
    padding: 15px 20px;
   
}